/.ipynb_checkpoints
/Applying filters.ipynb
/Combinação dados ENEM 2016 e SISU 2017.ipynb
/datasets_combinados.parquet
/distribuicao_ies.pdf
/distribuicao_notas_enem.pdf
/distribuicao_notas_masculino.pdf
/distribuicao_notas_nao_aprovados.pdf
/distribuicao_notas_sisu.pdf
/distribuicao_residencia.pdf
/distribuicao_residencia_candidatos.pdf
/dist_mat_masc_2.jpg
/dist_uf.png
/ENEM_2016_resumido.parquet
/Filters applied.ipynb
/itens_prova_2016.csv
/ListagemChamadaRegular_2017-1.csv
/ListagemChamadaRegular_2017-1.parquet
/ListagemChamadaRegular_2017-2.csv
/ListagemChamadaRegular_2017-2.parquet
/Microdados_ENEM_2016 copy.ipynb
/microdados_enem_2016.csv
/microdados_enem_2016.parquet
/microdados_enem_2016_reduced.parquet
/notas_ch.png
/notas_cn.png
/notas_lc.png
/notas_mt.png
/notas_red.png
/Research Test 2.ipynb
/Research Test.ipynb
/SISU 2017 Revisão.ipynb
/SISU 2017.ipynb
/SISU_2017_resumido.parquet
/SISU_2017_Revisao_otimizado.ipynb
/teste.json
/Untitled.ipynb